<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">TOOP Shipping Prototype</div>
    <div class="list-group list-group-flush">
      <a routerLink="/" class="list-group-item list-group-item-action bg-light">Country Select</a>
      <!--<a routerLink="/ships/undefined" class="list-group-item list-group-item-action bg-light">Ships</a>-->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
  <!-- /#wrapper -->
